
img{
  width: 200px;
}

button {
  color: white;
  background-color: black;
  border-radius: 13px;
  border: 3px solid black;
}


.App {
display: flex ;
flex-wrap: wrap;
justify-content: center;
text-align: center;
align-items: center;

}
select {
  padding: 18px;
  margin: 66px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  background: aliceblue;
  border: 97px solid black;
  border: none;
}
.head{
  width: 30%;
  margin: 3%;
  border: 2px solid black;
}
.body{
  width: 30%;
  margin: 3%;
  border: 2px solid black;
}

.body2{
  width: 30%;
  margin: 3%;
  border: 2px solid black;
  border: none;
}